/* css for group 11 a3 */

/* Colours - Beige - #F5EEC2 Green - #73A24E Blue - #39395f*/

/*Tim's Part*/
.logo{
    max-width: 40px;
    width: 100%;
    }

  .navbg{
    background-color: #416a59;
    }
  
  a:link, a:visited{
    color: #f5eec2
    }
  
  a:hover, a:active{
    color: #73a24e
    }

  .p3bg{
    background-color: #f5eec2;
  }

  .project3{
  border-radius: 15px;  
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  object-fit: contain;  
}

  .sectionmargin{
  margin-top: 100px;
}

/*Vince's Part*/
#bg {
  /* The image used */
  background-image: url("../images/background5.jpg");

  height: 100vh;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

#landing{
  top:20%;
  font-size: 2.5em;
  font-weight: 700;
  color:#f5eec2;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Colin's Part */

.page-section {
  padding: 5rem 0;
}

#services, #contact{
  background-color: #f5eec2;
}
#sIcon{
  color: #416a59;
}

#sTitle{
  color: #000000;
  font-family: "Volkhov";
}

#footer{
  background-color: #39395f;
}

/* Kendyll's Part */

/* object-fit contain CSS for headshot images inspired by w3schools: https://www.w3schools.com/css/tryit.asp?filename=trycss3_object-fit_contain */

/* index.html css */

.headshot {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.teamtitlefont {
  font-family: "Volkhov";
}

.teamfont {
  font-family: "Lato";
}

/* .btn-purple {
  background-color: #565694;
}  */

.teambackground {
  background-color: #39395f;
}

/* project 2 css color: #73a24e, color: #f5eec2, color: #416a59 */
/* project 2 page css (LiDAR and Bathymetry */

.project2img {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  object-fit: contain;
}

.project2titlefont {
  font-family: "Volkhov, Bold";
  color: #39395f;
}

.project2font {
  font-family: "Lato";
  color: #39395f;
}

.project2background{
  background-color: #f5eec2;
}

.margin {
  margin-top: 100px;
}

/* trying to change button colour */
.btn-light {
  color:#39395f;
  background-color:#565694;
  border-color:#f8f9fa;
}
.btn-light:hover {
  color:#39395f;
  background-color:#9b9bda;
  border-color:#dae0e5;
}

/* .btn-light.focus,
.btn-light:focus{color:#212529;background-color:#e2e6ea;border-color:#dae0e5;box-shadow:0 0 0 .2rem rgba(216,217,219,.5)}
.btn-light.disabled,.btn-light:disabled{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle{color:#212529;background-color:#dae0e5;border-color:#d3d9df}.btn-light:not(:disabled):not(.disabled).active:focus,.btn-light:not(:disabled):not(.disabled):active:focus,.show>
.btn-light.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(216,217,219,.5)} */