/* css for group 11 a3 */

/* Colours - Beige - #F5EEC2 Green - #73A24E Blue - #39395f*/

/*Tim's Part*/
.logo{
    max-width: 40px;
    width: 100%;
    }

  .navbg{
    background-color: #416a59;
    }
  
  a:link, a:visited{
    color: #f5eec2
    }
  
  a:hover, a:active{
    color: #73a24e
    }

  .p3bg{
    background-color: #f5eec2;
  }

  .project3{
  border-radius: 15px;  
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  object-fit: contain;  
}

  .sectionmargin{
  margin-top: 100px;
}

/*Vince's Part*/
/* FOR INDEX */
#bg {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url("../images/background5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#transparentbg{
  height: 100%;
  /* background-color: rgba(245, 238, 194, 0.4); */
  background-color: rgba(0, 0, 0, 0.5);
}

#landingcont{
  padding-top: 20vh;
  height: 100vh;
  width: 65%;
  /* background-color: rgba(245, 238, 194, 1); */
}

/* #companylogo{
  height: 40%;
} */

#maintext{
  font-size: 10vh;
  /* letter-spacing: 0.1em; */
  color:#73a24e;
  font-family: "Volkhov";
  margin-bottom:4vh;
}

#landingdivider{
  max-width: 20vw;
  border-width: 0.2rem;
  border-color: #416a59;
}

#slogan{
  font-size: 5vh;
  font-family: "Volkhov";
  /* font-family: Arial, Helvetica, sans-serif; */
  color:#F5EEC2;
}

#supplementary{
  font-size: 2.5vh;
  font-family: "Lato";
  color:#F5EEC2;
  padding-bottom: 10vh;
}

#smlink {
  font-size: 2.5vh;
  width: 4vw;
  /* padding-left: 100;
  padding-right: ; */
  /* text-align: center;
  text-decoration: none;
  margin: 5px 2px; */
}

/* Colin's Part */

.page-section {
  padding: 5rem 0;
}

#services, #contact{
  background-color: #f5eec2;
}
#sIcon{
  color: #416a59;
}

#sTitle{
  color: #000000;
  font-family: "Volkhov";
}
.project1img{
  border-radius: 15px;  
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  object-fit: contain;  
}
#project1page{
  background-color: #f5eec2;
}

#footer{
  background-color: #416a59;
}

/* Kendyll's Part */

/* object-fit contain CSS for .headshot and .project2img inspired by w3schools: 
https://www.w3schools.com/css/tryit.asp?filename=trycss3_object-fit_contain */

/* index.html css for "Our Team" section */

.headshot {
  width: 200px;
  height: 300px;
  object-fit: contain;
}

.teamtitlefont {
  font-family: "Volkhov";
}

.teamfont {
  font-family: "Lato";
}

.btn {
  color:#24243b;
  background-color:#565694;
  border-color:#24243b;
}
.btn:hover {
  color:#24243b;
  background-color:#6666aa;
  border-color:#24243b;
}

.teambackground {
  background-color: #39395f;
}

/* project2.html css for LiDAR and Bathymetry project page */

.project2img {
  border-radius: 15px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 400px;
  object-fit: contain;
}

.project2titlefont {
  font-family: "Volkhov, Bold";
  color: #39395f;
}

.project2font {
  font-family: "Lato";
  color: #39395f;
}

.project2background{
  background-color: #f5eec2;
}

.margin {
  margin-top: 100px;
}

/* trying to change button colour */


/* .btn-light.focus,
.btn-light:focus{color:#212529;background-color:#e2e6ea;border-color:#dae0e5;box-shadow:0 0 0 .2rem rgba(216,217,219,.5)}
.btn-light.disabled,.btn-light:disabled{color:#212529;background-color:#f8f9fa;border-color:#f8f9fa}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle{color:#212529;background-color:#dae0e5;border-color:#d3d9df}.btn-light:not(:disabled):not(.disabled).active:focus,.btn-light:not(:disabled):not(.disabled):active:focus,.show>
.btn-light.dropdown-toggle:focus{box-shadow:0 0 0 .2rem rgba(216,217,219,.5)} */