html, body {
    height: 100%;
}

#containerleft {
    height: 100vh;
    background-image: url("../images/hydro.jpg");
}

#ltext {
        position: relative;
        width: 80%;
        top: 50%;
        left: 50%;
        font-size: 9vh;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
    
}

#project4title {
    font-size: 100%;
}


#containerright {
    height: 100vh;
    background-color:#F5EEC2;
}

#rtext {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

/* FOR INDEX */
/*Vince's Part*/
#bg {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../images/background5.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#transparentbg{
    height: 100%;
    /* background-color: rgba(245, 238, 194, 0.4); */
    background-color: rgba(0, 0, 0, 0.5);
}

#landingcont{
    padding-top: 20vh;
    height: 100vh;
    width: 70%;
    /* background-color: rgba(245, 238, 194, 1); */
}

/* #companylogo{
    height: 40%;
} */

#maintext{
    font-size: 10vh;
    /* letter-spacing: 0.1em; */
    color:#73a24e;
    font-family: "Volkhov";
    margin-bottom:4vh;
}

#landingdivider{
    max-width: 20vw;
    border-width: 0.2rem;
    border-color: #416a59;
}

#slogan{
    font-size: 5vh;
    font-family: "Volkhov";
    /* font-family: Arial, Helvetica, sans-serif; */
    color:#F5EEC2;
}

#supplementary{
    font-size: 2.5vh;
    font-family: Arial, Helvetica, sans-serif;
    color:#F5EEC2;
    padding-bottom: 10vh;
}

#smlink {
    font-size: 2.5vh;
    width: 4vw;
    /* padding-left: 100;
    padding-right: ; */
    /* text-align: center;
    text-decoration: none;
    margin: 5px 2px; */
}

/* .fa:hover {
    opacity: 0.5;
} */

/* .fa-linkedin {
    color: #2e281c;
}

.fa-facebook {
    color: #2e281c;
}

.fa-instagram {
    color: #2e281c;
} */